.likeButton {
  display: inline-block;
  padding: 5x 10px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3b4255;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 0.5rem;
}

.dislikeButton {
  display: inline-block;
  padding: 5x 10px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #424c68;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 0.5rem;
}

.likeButtonActive {
  background-color: #39cc2c;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  display: inline-block;
  padding: 5x 10px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 0.5rem;
}
.dislikeButtonActive {
  background-color: #e22d15;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  display: inline-block;
  padding: 5x 10px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 0.5rem;
}
.button-align {
  align-items: center;
}
.btn-primary {
  margin-top: 5px;
  margin-bottom: 20px;
}
