.border-box {
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  /* margin: 5px; */
}
.title {
  /* border: 1px;
  border-style: solid;
  border-color: black; */
  padding: 0;
  max-width: fit-content;
  font-size: 4rem;
}
/* .post-border-box {
  border-bottom: 1px;
  border-style: solid;
  border-color: #666;
  border-bottom-width: 50%;
  align-items: center;
} */
#root {
  /* background: url(./augustine-wong-3Om4DHcaAc0-unsplash.jpg);
  background-size: initial;
  height: 100vh;
  background-repeat: round; */
  background: rgb(0, 0, 0);
  height: 100vh;
  background-repeat: repeat;
  background-size: cover;
  color: white;
}
html {
  background: rgb(0, 0, 0);
}
.bottom-container {
  background: rgba(255, 253, 253, 0.904);
  background-size: cover;
  color: black;
}

.text {
  background-color: rgba(255, 253, 253, 0.904);
  max-width: fit-content;
  padding: 2px 15px 2px 5px;
}
.name {
  font-size: 2rem;
}

