.border-box {
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  margin: 5px;
}
.title {
  /* border: 1px;
  border-style: solid;
  border-color: black; */
  padding: 0;
  max-width: fit-content;
}
/* .post-border-box {
  border-bottom: 1px;
  border-style: solid;
  border-color: #666;
  border-bottom-width: 50%;
  align-items: center;
} */
#root {
  /* background: url(./augustine-wong-3Om4DHcaAc0-unsplash.jpg);
  background-size: initial;
  height: 100vh;
  background-repeat: round; */
  background: rgb(16, 128, 109);
  height: 100vh;
  background-repeat: repeat-y;
}
.bottom-container {
  background: url(./augustine-wong-3Om4DHcaAc0-unsplash.jpg);
  background-size: cover;
}

.text {
  background-color: rgba(255, 255, 255, 0.589);
  max-width: fit-content;
  padding: 2px 15px 2px 5px;
}
.name {
  font-size: 2rem;
}
